@charset "utf-8";
/* 프로모션 */
.promotion .inner{

}
.promotion .section-top{
    display: none;
}
.sw-promotion a{
    border-radius: 13px;
    display: block;
    overflow: hidden;
}
.sw-promotion a img{
    width: 100%;
    height: 100%;
}
/* pagination */
.sw-promotion-control{
    position: relative;
    text-align: center;
    display: none;
}